@font-face {
    font-family: distant-galaxy;
    src: url("Distant-Galaxy/DISTGRG_.ttf");
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: distant-galaxy;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 100px;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 0px 1px 0 black, 1px 0px 0 black, 0px -1px 0 black, -1px 0px 0 black, 4px 4px 3px #000;
    opacity: 0.5;
}

.col-md-12 {
    text-align: center;
    margin: 2%;
}

.col-md-11 {
    text-align: left;
    margin: 2%;
}

.jumbotron {
    padding-top: 5%;
    padding-bottom: 15%;
    margin-right: 15%;
    margin-left: 15%;
    opacity: 0.6;
    background-image: url("default.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    color: grey;
    opacity: 0.5;
}

#timer {
    font-size: 30px;
    text-align: center;
    color: white;
}

#question {
    color: red;
    text-align: center;
    font-size: 30px;
}

#start-btn {
    text-align: center;
    font-size: 50px;
}

#reset-btn {
    text-align: center;
    font-size: 50px;
}

.btn-block {
    text-align: left;
    color: blue;
}
