body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: black;
    opacity: 0.2;
    text-align: center;
}

#id {
    text-align: center;
}

.col-md-12 {
    text-align: center;
    margin: 2%;
}

.col-md-11 {
    text-align: left;
    margin: 2%;
}

.jumbotron {
    padding-top: 5%;
    padding-bottom: 15%;
    margin-right: 15%;
    margin-left: 15%;
}

.container {
    color: white;
}

#timer {
    font-size: 30px;
}

#question {
    text-align: center;
    font-size: 30px;
}

.btn {
    font-size: 20px;
    text-align: center;
}

#a {
    width: 100%;
}

#b {
    width: 100%;
}

#c {
    width: 100%;
}

#d {
    width: 100%;
}
